<h1>Page 3</h1>
<h1>Individual Note page</h1>
<form method="POST"  id="individualForm">

<div id="noteData">
   
    <h3>Note Tiltle</h3>
    <div id="note_Title" value={{{individualDta.title}}}>{{{individualDta.title}}}</div>
    <h3>Note Summary </h3>
    <div id="noteSummary" value={{{individualDta.summary}}}> {{{individualDta.summary }}}</div> <br>
    <h3>Note date</h3>
    <div  id="currDate" value={{{individualDta.date}}}> {{{individualDta.date}}}</div> <br>
    <h3> Note Body</h3>
    <div id="noteBody" value={{{individualDta.body}}}> {{{individualDta.body}}}</div> <br>
    
</div>

<div class="row">
   <a value="next" type="submit" id="link_id"> Next note </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
<a href="/">Link to first page</a>
    </div>
</div>


</form>

<style>


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>